<nav class="navbar navbar-expand-md navbar-dark bg-primary">

  <!-- Navbar links -->
  <div class="container">
     <!-- Brand -->
    <a class="navbar-brand" href="#"><span class="fa fa-globe"></span> {{title}}</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button"
    (click)="toggleMenuCollapse()">
      <span class="navbar-toggler-icon"></span>
    </button>

      <div [ngbCollapse]="menuCollapse" class="collapse navbar-collapse"
      (ngbCollapseChange)="onCollapseChanged()">
        <ul class="navbar-nav">
          <li class="nav-item" ngbDropdown>
            <a class="nav-link dropdown-toggle text-light" ngbDropdownToggle>
              Master Data
              <div class="dropdown-menu" ngbDropdownMenu>
                <a class="dropdown-item" href="#" ngbDropdownItem routerLink="customer/list"><span class="fa fa-users"></span> Customer</a>
                <a class="dropdown-item" href="#" ngbDropdownItem routerLink="satuan/list"><span class="fa fa-gear"></span> Satuan</a>
                <a class="dropdown-item" href="#" ngbDropdownItem routerLink="material/list"><span class="fa fa-gg"></span> Material</a>
              </div>
            </a>
          </li>
          <li class="nav-item" ngbDropdown>
            <a class="nav-link dropdown-toggle  text-light" ngbDropdownToggle>
              Sales
              <div class="dropdown-menu" ngbDropdownMenu>
                <a class="dropdown-item" href="#" ngbDropdownItem routerLink="sales-order/list"><span class="fa fa-plus-circle"></span> Sales Order</a>
                <a class="dropdown-item" href="#" ngbDropdownItem routerLink="sales-order-item/list"><span class="fa fa-plus-square-o"></span> Sales Order Item</a>
              </div>
            </a>
          </li>

        </ul>
      </div>
  </div>
</nav>
<div class="container mt-3">
  <router-outlet></router-outlet>
</div>
